.urbanist {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.lilita-one-regular {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a:link, a:visited {
    text-decoration: none;
    color: black;
}

h1 {
    margin: 0px auto;
    text-align: center;
    padding: 20px;
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 10px;
}

.nav, .recipe-links {
    width: 1080px;
    margin: 0 auto;
}

.middle {
    margin: 0 50px;
}

.recipe-container {
    text-align: center;
    font-size: 24px;
    width: 320px;
    display: inline-block;
    margin-bottom: auto;
}

.recipe-links a {
    /* outline: 2px solid red; */
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.recipe-links a:hover {
    color: gray;
}
