body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

ol > li, ul > li {
    margin-bottom: 12px;
}

ol > li::marker {
    font-weight: bold;
    font-size: 18px;
}

.urbanist {
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.roboto {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.lilita-one-regular {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.recipe-links a:link, .recipe-links a:visited, .nav a:link, .nav a:visited {
    text-decoration: none;
}

a:link, a:visited {
    color: black;
}

h1 {
    margin: 0px auto;
    text-align: center;
    padding: 20px;
    font-size: 60px;
    font-weight: 900;
    letter-spacing: 10px;
}

.italic {
    font-style: italic;
}

.nav, .recipe-links, .recipe-body, footer {
    width: 1080px;
    margin: 0 auto;
}

footer {
    text-align: center;
}

.recipe-body h1 {
    font-size: 48px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    letter-spacing: normal;
}

.middle {
    margin: 0 50px;
}

.picture {
    margin: 0 auto;
    width: 500px;
    height: auto;
}

.picture > img {
    width: 100%;
    height: 100%;
}

.recipe-container {
    text-align: center;
    font-size: 24px;
    width: 320px;
    display: inline-block;
    margin-bottom: auto;
}

.recipe-links a {
    /* outline: 2px solid red; */
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.nav a:hover {
    color: black;
}

a:hover {
    color: gray;
}
